In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_pickle('shared/Project-3_NYC_311_Calls.pkl')

In [3]:
df = df.set_index(pd.DatetimeIndex(df['Created Date']))
del df['Created Date']
df.head()

,Unique Key,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,City,Resolution Description,Borough,Open Data Channel Type
Created Date,,,,,,,,,,,
2011-04-06 00:00:00,20184537,HPD,Department of Housing Preservation and Develop...,HEATING,HEAT,RESIDENTIAL BUILDING,10002.0,NEW YORK,More than one complaint was received for this ...,MANHATTAN,UNKNOWN
2011-04-06 00:00:00,20184538,HPD,Department of Housing Preservation and Develop...,GENERAL CONSTRUCTION,WINDOWS,RESIDENTIAL BUILDING,11236.0,BROOKLYN,The Department of Housing Preservation and Dev...,BROOKLYN,UNKNOWN
2011-04-06 00:00:00,20184539,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,WALLS,RESIDENTIAL BUILDING,10460.0,BRONX,The Department of Housing Preservation and Dev...,BRONX,UNKNOWN
2022-07-08 11:14:43,54732265,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10467.0,BRONX,The Department of Sanitation investigated this...,BRONX,PHONE
2011-04-06 00:00:00,20184540,HPD,Department of Housing Preservation and Develop...,NONCONST,VERMIN,RESIDENTIAL BUILDING,10460.0,BRONX,The Department of Housing Preservation and Dev...,BRONX,UNKNOWN

In [4]:
#Q1

In [5]:
df2022 = df.loc['2022']
df2022.head()

,Unique Key,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,City,Resolution Description,Borough,Open Data Channel Type
Created Date,,,,,,,,,,,
2022-07-08 11:14:43,54732265,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10467.0,BRONX,The Department of Sanitation investigated this...,BRONX,PHONE
2022-07-08 12:07:45,54732266,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10009.0,NEW YORK,The Department of Sanitation investigated this...,MANHATTAN,MOBILE
2022-07-08 06:06:47,54732267,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,11204.0,BROOKLYN,The Department of Sanitation investigated this...,BROOKLYN,MOBILE
2022-07-08 14:12:01,54732268,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10455.0,BRONX,The Department of Sanitation investigated this...,BRONX,MOBILE
2022-07-08 11:25:58,54732269,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10025.0,NEW YORK,The Department of Sanitation investigated this...,MANHATTAN,PHONE

In [6]:
complaints_2022 = df2022.resample(rule='D')['Unique Key'].count()
complaints_2022

Created Date
2022-01-01     5866
2022-01-02     6710
2022-01-03     9163
2022-01-04     9415
2022-01-05     8385
              ...
2022-12-27    10250
2022-12-28     9036
2022-12-29     8279
2022-12-30     7582
2022-12-31     5742
Freq: D, Name: Unique Key, Length: 365, dtype: int64

In [7]:
complaints_2022.mean()

8684.320547945206

In [8]:
#Q2

In [9]:
complaints_by_date = df.groupby(df.index.date).size()
complaints_by_date

2010-01-01    2942
2010-01-02    3958
2010-01-03    5676
2010-01-04    9763
2010-01-05    8735
              ...
2023-07-31    9921
2023-08-01    9813
2023-08-02    9245
2023-08-03    9128
2023-08-04     384
Length: 4964, dtype: int64

In [10]:
max_complaints_by_date = complaints_by_date.idxmax()
max_complaints_by_date

datetime.date(2020, 8, 4)

In [11]:
#Q3

In [12]:
max_date = df.loc['2020-08-04']
max_date.head()

,Unique Key,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,City,Resolution Description,Borough,Open Data Channel Type
Created Date,,,,,,,,,,,
2020-08-04 20:26:03,47103795,DPR,Department of Parks and Recreation,Damaged Tree,Entire Tree Has Fallen Down,Street,NaN,NaN,The Department of Parks and Recreation visited...,Unspecified,UNKNOWN
2020-08-04 20:02:44,47107936,DPR,Department of Parks and Recreation,Damaged Tree,Entire Tree Has Fallen Down,Street,NaN,NaN,The Department of Parks and Recreation has ins...,Unspecified,UNKNOWN
2020-08-04 15:35:00,47098354,DOT,Department of Transportation,Traffic Signal Condition,Vehicle Signal,NaN,NaN,NaN,Service Request status for this request is ava...,NaN,UNKNOWN
2020-08-04 11:52:00,47105987,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,Service Request status for this request is ava...,QUEENS,UNKNOWN
2020-08-04 12:00:00,47118929,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,NaN,NaN,The Department of Sanitation Investigated and ...,NaN,PHONE

In [13]:
max_date_complaint_type = max_date['Complaint Type'].value_counts()
max_date_complaint_type

Complaint Type
Damaged Tree                           14863
Noise - Residential                      982
Request Large Bulky Item Collection      909
Street Light Condition                   617
Overgrown Tree/Branches                  609
                                       ...
Bus Stop Shelter Placement                 1
Unsanitary Pigeon Condition                1
Public Payphone Complaint                  1
For Hire Vehicle Report                    1
Bridge Condition                           1
Name: count, Length: 125, dtype: int64

In [14]:
max_date_complaint_type.idxmax()

'Damaged Tree'

In [15]:
#Q4

In [16]:
complaints_by_month = df.groupby(df.index.month).size()
complaints_by_month

Created Date
1     2994507
2     2621845
3     2868044
4     2672760
5     2956598
6     3093442
7     3111026
8     2779862
9     2684271
10    2766887
11    2634749
12    2596986
dtype: int64

In [17]:
min_complaints_by_month = complaints_by_month.idxmin()
min_complaints_by_month

12

In [18]:
#Q5

In [19]:
df1 = df.iloc[:,:1]
df1.head()

                     Unique Key
Created Date
2011-04-06 00:00:00    20184537
2011-04-06 00:00:00    20184538
2011-04-06 00:00:00    20184539
2022-07-08 11:14:43    54732265
2011-04-06 00:00:00    20184540

In [20]:
complaints_all = df1.resample('D')['Unique Key'].count()
complaints_all = complaints_all.reset_index(name = 'Call')
complaints_all = complaints_all.set_index('Created Date')
complaints_all

              Call
Created Date
2010-01-01    2942
2010-01-02    3958
2010-01-03    5676
2010-01-04    9763
2010-01-05    8735
...            ...
2023-07-31    9921
2023-08-01    9813
2023-08-02    9245
2023-08-03    9128
2023-08-04     384

[4964 rows x 1 columns]

In [21]:
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(complaints_all, model = 'additive') 
ets = pd.DataFrame({'trend': result.trend, 
              'seasonality': result.seasonal, 
              'error': result.resid})
ets

                    trend  seasonality        error
Created Date
2010-01-01            NaN   182.697638          NaN
2010-01-02            NaN -1096.197842          NaN
2010-01-03            NaN -1320.055591          NaN
2010-01-04    6479.571429   634.158302  2649.270270
2010-01-05    6957.857143   694.951572  1082.191285
...                   ...          ...          ...
2023-07-31    9356.714286   634.158302   -69.872587
2023-08-01    8045.428571   694.951572  1072.619857
2023-08-02            NaN   527.573748          NaN
2023-08-03            NaN   376.872174          NaN
2023-08-04            NaN   182.697638          NaN

[4964 rows x 3 columns]

In [22]:
ets.loc['2020-12-25', 'seasonality']

182.69763790386224

In [23]:
#Q6

In [24]:
autocorrelation = complaints_all['Call'].autocorr(lag=1)
autocorrelation

0.7517059728398577

In [25]:
#Q7

In [26]:
from prophet import Prophet

In [27]:
daily_series = df1['Unique Key'].resample('D').count()
df_prophet = pd.DataFrame({'ds': daily_series.index, 'y': daily_series.values})
df_prophet

             ds     y
0    2010-01-01  2942
1    2010-01-02  3958
2    2010-01-03  5676
3    2010-01-04  9763
4    2010-01-05  8735
...         ...   ...
4959 2023-07-31  9921
4960 2023-08-01  9813
4961 2023-08-02  9245
4962 2023-08-03  9128
4963 2023-08-04   384

[4964 rows x 2 columns]

In [28]:
test_size = 90
train_size = len(df_prophet) - test_size

In [29]:
model = Prophet()

In [30]:
model.fit(df_prophet.iloc[:train_size])

02:01:18 - cmdstanpy - INFO - Chain [1] start processing
02:01:19 - cmdstanpy - INFO - Chain [1] done processing

In [31]:
future = model.make_future_dataframe(periods=test_size)
forecast = model.predict(future)
actual_values = df_prophet.iloc[train_size:]['y'].values
predicted_values = forecast.iloc[train_size:]['yhat'].values

In [32]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(actual_values, predicted_values))
rmse

1231.513760758433